@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --H1d-body: rgb(18, 18, 18);
  --H1d-font-primary: "rgb(199, 199, 199)";
  --H1d-ui-primary: "rgb(80, 181, 255)";
  --H1d-ui-secondary: rgb(21, 32, 39);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--H1d-font-primary);
}
body {
  background-color: var(--H1d-body);
  color: var(--H1d-font-primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
